{% extends 'ProjectManager/base.html' %}
{% block content %}
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">共有 {{ task_list|length }} 个任务</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                <table class="table table-striped">
                      <thead>
                        <tr>
                            {% for column in columns%}
                                <td> {{ column }}</td>
                            {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in task_list %}
                            {% if task.status == '终止' %}
                                <tr class="error">
                            {% elif task.status == '暂停' %}
                                <tr class="warning">
                            {% elif task.status == '进行' %}
                                <tr class="info">
                                {%  elif task.status == '完成'%}
                                    <tr class="sucess">
                                    {% endif %}
                        <td><a href={% url 'projectmanager:task_detail' task %}>{{ task }}</a></td>
                         <td><a>{{ task.product}}</a></td>
                                    <td>{{ task.patient}}</td>
                                    <td>{{ task.patient.patientname}}</td>
                                    <td>{{ task.status}}</td>
                                    <td>{{ task.anastatus}}</td>
                                    <td>{{ task.expstatus}}</td>
                                    <td>{{ task.jiedu_status}}</td>
                                    <td>
                                        <a href={% url 'projectmanager:task_pause_lab' task %}>实验暂停</a>
                                        <a href={% url 'projectmanager:task_reset' task%}>重置</a>
                                        <a href={% url 'projectmanager:task_stop' task %}>终止</a>
                                        <a href={% url 'projectmanager:task_pause_ana' task %}>分析暂停</a>
                                        <a href={% url 'projectmanager:task_pause_jiedu' task %}>解读暂停</a>
                                        <a href={% url 'projectmanager:declare_ana' task%}>取消分析</a>
                                        <a href={% url 'projectmanager:declare_jiedu' task %}>取消解读</a>
                                        <a href={% url 'projectmanager:declare_lab' task %}>取消实验</a>
                                    </td>
        </tr>
    {% empty %}
        <tr><td>无</td></tr>
        <div><a>暂无任务收录</a></div>
    {% endfor %}

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
{% endblock %}