{% extends 'Analyst/base.html' %}
{% block content %}
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">共有 {{ project_list|length }} 个项目</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                <table class="table table-striped">
                      <thead>
                        <tr>
                            {% for column in columns%}
                                <td> {{ column }}</td>
                            {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for project in project_list %}
                            {% if project.status == '暂停' %}
                                <tr class="error">
                                {% elif project.status == '提交' %}
                                    <tr class="success">
                                {% else %}
                                <tr class="info">
                                {% endif %}
                            <td><a>{{ project}}</a></td>
                            <td> {{ project.user}}</td>
                            <td> {{ project.workspace}}</td>
                            <td> {{ project.config}}</td>
                            <td> {{ project.database}}</td>
                            <td> {{ project.status}}</td>
                            <td>
                                <a href={% url 'analyst:project_modify' project %}>修改|<\a>
                                    <a href={% url 'analyst:project_pause' project %}>暂停|</a>
                             <a href={% url 'analyst:project_submit' project %}>提交</a>
                        <td/>
        </tr>
    {% empty %}
        <tr><td>无</td></tr>
        <div><a>暂无项目收录</a></div>
    {% endfor %}

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}